<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增销售单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
	</head>
	<style type="text/css">
		.mui-card {
			margin-left: 0px;
			margin-right: 0px;
		}
		
		.mui-table-view-cell:after {
			left: 0px;
		}
	</style>

	<body>
		<div class="mui-content">
			<div class="mui-card" style="margin-top:2px ;">

				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a class="mui-navigate">
							<div class="mui-input-row ">
								<label>订单号</label>
								<input name="user1" type="text" readonly="readonly" value="" />
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right">
							<div class="mui-input-row ">
								<label>日期</label>
								<input type="date" value="" name="user4" />
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell" id="customer">
						<a class="mui-navigate-right">
							<div class="mui-input-row ">
								<label>客户</label>
								<input type="hidden" disabled="disabled" v-model="cid" name="cid" />
								<input type="text" readonly="readonly" v-model="cname" value="" />
							</div>
						</a>
					</li>
				</ul>
			</div>
			<div id="" v-if="cid">

				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-row">
							<div class="mui-col-xs-3">
								货品
							</div>
							<div class="mui-col-xs-6" id="count" name="count"></div>
							<div class="mui-col-xs-3" name="money" id="sumMoney">0.00</div>
						</li>
						<ul id="OA_task_1" class="mui-table-view">
							<li class="mui-table-view-cell" v-for="(s,index) in salesdetails" v-bind:index="index">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-red">删除</a>
								</div>
								<div class="mui-slider-handle mui-row">
									<div class="mui-col-xs-2"><img v-bind:src="url+s.url" width="50px" height="50px" /></div>
									<div class="mui-col-xs-10">
										<div class="mui-row">
											<span hidden="" name="user1">{{s.user1}}</span>
											<div class="mui-col-xs-6"><span name="user2">{{s.gname}}</span></div>
											<div style="text-align: right;" class="mui-col-xs-6">金额:<span name="money">{{s.money}}</span></div>
										</div>
										<div class="mui-row">
											<div class="mui-col-xs-4">数量:<span name="count">{{s.count}}</span></div>
											<div class="mui-col-xs-4">原价:<span>{{s.primePrice}}</span></div>
											<div style="text-align: right;" class="mui-col-xs-4">单价:<span name="takeinmoney">{{s.takeinmoney}}</span></div>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<li class="mui-table-view mui-row">
							<div style="text-align: center;" class="mui-col-xs-6 mui-table-view-cell">
								<span style="font-size: 7em; " class="mui-icon mui-icon-camera"></span>
							</div>
							<div style="text-align: center;" class="mui-col-xs-6 mui-table-view-cell">
								<span style="font-size: 7em;" class="mui-icon mui-icon-plusempty"></span>
							</div>
						</li>
					</ul>
				</div>
				<div class="mui-card">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<a class="mui-navigate">
								<div class="mui-input-row ">
									<label>商品实际总金额</label>
									<input type="text" readonly="readonly" v-model="money" />
								</div>
							</a>
						</li>
						<li class="mui-table-view-cell" id="payType">
							<a class="mui-navigate-right">
								<div class="mui-input-row ">
									<label>结算账户</label>
									<input type="hidden" name="pid" />
									<input name="pname" type="text" readonly="readonly" />
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="mui-card">
					<ul class="mui-table-view">

						<li class="mui-table-view-cell">
							<a class="mui-navigate">
								<div class="mui-input-row ">
									<label>备注</label>
									<input type="text" value="" />
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div id="hide" style="height: 80px;">

				</div>
				<nav id="tab" class="mui-bar mui-bar-tab mui-row">
					<div class="mui-col-xs-9">
						<div class="mui-input-row">
							<label>应收款</label>
							<input type="number" name="user5" value="0.00" class="mui-input-clear">
						</div>
						<div class="mui-input-row">
							<label>实收款</label>
							<input type="number" name="takeinmoney" value="0.00" class="mui-input-clear">
						</div>
					</div>
				</nav>

			</div>
		</div>
		<script src="../js/table/db.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/table/async.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/loginUser.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/openModel.js"></script>
		<script src="../js/news.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/filtrare_time.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var loginUser = login.getLogin();
			var uid = loginUser.id;
			var sid = loginUser.store.id;
			var now = new Date();

			var v = new Vue({
				el: ".mui-content",
				data: {
					Salesindent: {},
					salesdetails: [],
					money: null,
					cid: -1,
					cname: "零售客户",
					url: n.url + "/"
				}
			});
			mui.init({
				swipeBack: true //启用右滑关闭功能 

			});
			mui.ready(function() {
				//赋值订单号
				setSalesIndentNub(uid);
				//默认日期为当前日期
				document.querySelector("[name='user4']").value = eval("formatNowDate()");
				console.log(eval("formatNowDate()"));
			});
			mui.plusReady(function() {

				mui('body').on('tap', '.mui-icon-camera', function() {
					plus.webview.create("barcode.html", "barcode.html", {}, {}).show();
				});

				//触摸结算账户
				mui('body').on('tap', '#payType', function() {
					//创建并判断是否存在列表内容窗体
					//plus.webview.getWebviewById(plus.webview.currentWebview().id).hide("slide-out-left");
					var vw = plus.webview.getWebviewById("paytype.html");
					var oldid = plus.webview.currentWebview().id;
					console.log("当前页面id" + oldid);
					if(vw) {
						vw.show("slide-in-right");
						console.log("已经创建过了页面开始传值" + oldid)
						vw.evalJS("getOldId('" + oldid + "')");
						return;
					}
					console.log("未创建过了页面开始传值" + oldid)
					vw = plus.webview.create("../paytype.html", "paytype.html", {}, {
						oldId: oldid
					});
					vw.show("slide-in-right");
				});
				mui('body').on('tap', '.mui-icon-checkmarkempty', function() {
					console.log(n.getParam(".mui-content"));
					addAjax();
				});

				mui('body').on('tap', '[index]', function() {
					var goodsinfo = n.getGoodsParam(this);
					goodsinfo.index = this.getAttribute("index");
					console.log(JSON.stringify(goodsinfo));
					var vw = plus.webview.getWebviewById("sales_add_sales_goods_1.html");
					if(vw) {
						console.log("已经创建")
						plus.webview.getWebviewById("sales_add_sales_goods_2.html").evalJS("setGoodsInfo('" + JSON.stringify(goodsinfo) + "')");
						vw.show("slide-in-right");
						return;
					}
					vw = plus.webview.create("sales_add_sales_goods_1.html", "sales_add_sales_goods_1.html", {}, {
						goods: goodsinfo
					});
					vw.show("slide-in-right");

				});

				//触摸客户
				mui('body').on('tap', '#customer', function() {
					//创建并判断是否存在列表内容窗体
					//plus.webview.getWebviewById(plus.webview.currentWebview().id).hide("slide-out-left");
					var vw = plus.webview.getWebviewById("client.html");
					vw = plus.webview.create("client.html", "client.html", {}, {});
					vw.show("slide-in-right");
				});

				//触摸+号
				mui('body').on('tap', '.mui-icon-plusempty', function() {
					//创建并判断是否存在列表内容窗体
					//plus.webview.getWebviewById(plus.webview.currentWebview().id).hide("slide-out-left");
					console.log(sid)
					var vw = plus.webview.getWebviewById("goodsInstanceSelect_h.html");
					vw = plus.webview.create("goodsInstanceSelect_h.html", "goodsInstanceSelect_h.html", {}, {
						cid: v.cid,
						sid: sid
					});
					vw.show("slide-in-right");
				})
			});

			var thisGoods = 0;

			function setGoods(goods) {
				thisGoods = JSON.parse(goods);
				console.log(thisGoods.index);
				v.salesdetails[thisGoods.index].money = thisGoods.money;
				v.salesdetails[thisGoods.index].count = thisGoods.count;
				v.salesdetails[thisGoods.index].takeinmoney = thisGoods.takeinmoney;
				sumCount();
			}

			//获得结算账户
			function getPay(pid, pname) {
				console.log("传值成功:" + pid + "," + pname);
				var id = document.querySelector("[name='pid']");
				id.value = pid;
				var name = document.querySelector("[name='pname']");
				name.value = pname;
			};

			//客户传值
			function getclientId(data) {
				console.log(JSON.stringify(data));
				if(v.cid==data.id){
					return;
				}
				v.cid = data.id;
				v.cname = data.name;
				v.salesdetails = [];
				sumCount();
				document.querySelector("#count").innerHTML = v.salesdetails.length;

			}
			function printInfo(){
				var json = n.getParam(".mui-content");
				json.count = document.querySelector("[name='count']").innerHTML;
				json.money = v.money;
				json.sid = sid;
				json.cname=v.cname;
				json.salesdetails = n.getSpanParam("#OA_task_1", ".mui-slider-handle");
				console.log(JSON.stringify(json) + "我传过来的");
				
			}
			function addAjax() {
				var json = n.getParam(".mui-content");
				json.count = document.querySelector("[name='count']").innerHTML;
				json.money = v.money;
				json.sid = sid;
				json.salesdetails = n.getSpanParam("#OA_task_1", ".mui-slider-handle");
				json.status = 2;
				json.uid=uid;
				console.log(JSON.stringify(json) + "我传过来的");
				sumCount();
				mui.ajax(n.url + "/s/addSales", {
					data: JSON.stringify(json),
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					contentType: "application/json",
					success: function(data) {
						var vw = plus.webview.getWebviewById("sales/sales_list_headerAndtab.html");
						if(vw) {
							vw.show("slide-in-right");
							vw.evalJS("F5()")
							return;
						}
						vw = plus.webview.create("sales_list_headerAndtab.html", "sales/sales_list_headerAndtab.html", {}, {});
						vw.show("slide-in-right");

					},
					error: function(xhr, type, errorThrown) {}
				});
			};

			function setSalesIndentNub() {
				console.log(uid)
				mui.ajax(n.url + "/s/getTimeNum", {
					data: {
						uid: uid
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						console.log(data)
						if(data == "404") {

							var myyear = now.getFullYear();
							var mymonth = now.getMonth() + 1;
							var myweekday = now.getDate();

							if(mymonth < 10) {
								mymonth = "0" + mymonth;
							}
							if(myweekday < 10) {
								myweekday = "0" + myweekday;
							}

							document.querySelector("[name='user1']").value = "XSD" + uid + myyear + mymonth + myweekday + "0001";
							return;
						}
						var xsd = "XSD" + uid + data;
						document.querySelector("[name='user1']").value = xsd;
					},
					error: function(xhr, type, errorThrown) {

					}
				});
			}

			function sumCount() {
				var sum = 0;
				var sumPrime=0;
				for(var i = 0; i < v.salesdetails.length; i++) {
					console.log(v.salesdetails[i].money);
					sum = sum - (-v.salesdetails[i].money);
					sumPrime = sumPrime - (-v.salesdetails[i].primePrice*v.salesdetails[i].count);
				};
				console.log(sum);
				document.querySelector("#sumMoney").innerHTML = sum;
				v.money=sumPrime;
				document.querySelector("#tab").querySelector("[name='user5']").value = sum;
				document.querySelector("#tab").querySelector("[name='takeinmoney']").value = sum;
			}

			//商品传值
			function getgoodsInfo(data) {
				var key = true;
				for(var i = 0; i < v.salesdetails.length; i++) {
					if(v.salesdetails[i].user1 == data.user1) {
						document.querySelector("#sumMoney").innerHTML = document.querySelector("#sumMoney").innerHTML - v.salesdetails[i].money;
						v.salesdetails[i].count = v.salesdetails[i].count - (-data.count);
						v.salesdetails[i].takeinmoney = data.takeinmoney;
						v.salesdetails[i].money = data.takeinmoney * v.salesdetails[i].count;
						v.salesdetails[i].primePrice = data.primePrice;
						document.querySelector("#sumMoney").innerHTML = document.querySelector("#sumMoney").innerHTML - (-v.salesdetails[i].money);
						v.salesdetails[i].url = data.url;
						sumCount();
						key = false;
						return;
					}
				}
				if(key) {
					v.salesdetails.push(data);
					document.querySelector("#sumMoney").innerHTML = (document.querySelector("#sumMoney").innerHTML - (-data.money)).toFixed(2);
					document.querySelector("#count").innerHTML = v.salesdetails.length;
					sumCount();
				}
				console.log(JSON.stringify(data));
			}

			function scanCode(x) {
				console.log("二维码扫到了:" + x);
				mui.ajax(n.url + "/goods/querySimGoodsInstanceVoAboutDefPriceAndPrice", {
					data: {
						gInId: x,
						sId: sid,
						cId: v.cid
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						console.log(JSON.stringify(data));
						var json = {};
						json.count = 1;
						json.user1 = data.goodsInstanceId;
						json.gname = data.goodsName;
						if(data.standardName) {
							json.gname += data.standardName;
						}
						json.takeinmoney = data.price;
						json.primePrice=data.primePrice;
						json.money = json.takeinmoney;
						json.url=data.url;
						console.log(JSON.stringify(json))
						getgoodsInfo(json);
					},
					error: function(xhr, type, errorThrown) {

					}
				});

			}
		</script>
	</body>

</html>